@charset "utf-8";
@import 'reset.css';

/* Contact */
.contact__container {
  width: 100%;
}

.contact__banner-overlay {
  background: url('/images/bgImg (3).jpg') center/cover no-repeat;
}

.contact__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 226px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--color-white);
}

.contact__banner-title {
  margin-bottom: 12px;
}

.contact__banner h1 {
  font-size: 36px;
}

.contact__form-container {
  width: 1140px;
  margin: 0 auto;
}
.contact__form {
  width: 684px;
  margin: 0 auto;
}

.contact__header {
  width: 100%;
  color: #109c06;
  font-size: 39px;
  font-weight: var(--weight-bold);
}

.contact__header-upr {
  margin-bottom: 12px;
}

.contact__header-lwr {
  margin-top: 0;
}

.contact__header-bar {
  height: 3px;
  width: 80px;
  background-color: #109c06;
}

.contact__form-main {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  width: 100%;
}

.contact__form-main p {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

.contact__contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  color: #444646;
}

.contact__btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.contact__submit {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  background-color: #109c06;
  color: var(--color-white);
  width: 100px;
  height: 45px;
}

.contact__submit:hover {
  background-color: rgba(49, 187, 9, 0.6);
  color: var(--color-black);
}
