@charset "utf-8";
@import 'reset.css';

/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #109c06;
  --color-dark-green: #31bb09;

  /* Font size */
  --font-large: 36px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 10px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --annimation-duration: 300ms;
}

html,
body {
  position: relative;
  margin: 0 auto;
}

body {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: var(--color-white);
  outline: none;
}

.container {
  text-align: center;
  color: var(--color-white);
  margin-bottom: 60px;
}

/* Navbar */
#navbar {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;
  height: 82px;
  z-index: 1000;
  transition: all 0.8s;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__menu {
  display: flex;
}

.navbar__menu-item {
  margin: auto 36px;
  position: relative;
}

.navbar__menu-item::before {
  content: '';
  position: absolute;
  background-color: #31bb09;
  height: 2px;
  width: 0;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  transition: 0.5s;
}

.navbar__menu-item:hover {
  cursor: pointer;
  color: var(--color-green);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu-item:hover::before {
  width: 100%;
}

.navbar__search {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.underline {
  height: 2px;
  width: 1280px;
  background-color: #d5d4c9;
  position: absolute;
  top: 70px;
  margin: auto;
}

/* Main Slide */
.slide__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  color: var(--color-white);
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.main__slider-container {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 32px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  color: var(--color-white);
  left: 24px;
  right: auto;
  font-size: 48px;
}

.swiper-button-prev p,
.swiper-button-next p {
  margin: 0 auto;
}

.swiper-button-next {
  color: var(--color-white);
  right: 24px;
  left: auto;
  font-size: 48px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #ecf0f1;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #28b463;
  height: 8px;
  width: 16px;
  border-radius: 40%;
}

.main__slider-text-container {
  text-align: left;
  position: absolute;
  width: 670px;
  height: 170px;
  top: 220px;
  left: 250px;
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  display: inline-block;
  color: var(--color-white);
  text-shadow: 2px 2px 2px rgb(136, 133, 133);
}

.main__slider-text-upr {
  font-size: 0.8em;
  font-weight: var(--weight-regular);
  margin-bottom: 18px;
}

.main__slider-text-lwr {
  font-size: 1.2em;
}

.slider__contact {
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin-top: 40px;
  padding: 13px 30px;
  width: 150px;
  height: 40px;
  border: 1px solid var(--color-white);
}

.swiper-slide {
  width: 140px;
  height: 100%;
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  margin-bottom: 12px;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
}

/* Main Business Area */
.business__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.business__title {
  font-size: var(--font-medium);
  color: #231f20;
}

.business__title-underline {
  width: 220px;
  height: 2px;
  background-color: #59795d;
  margin: 5px auto;
}

.business__areas {
  display: flex;
  width: 80%;
  margin: 10px auto;
  justify-content: space-around;
}

.business__areas-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 570px;
  height: 408px;
}

.business__areas-products {
  display: flex;
  height: 195px;
  background: url('../images/bgImg (1).jpg') center/cover no-repeat;
}

.business__areas-products-bgcolor,
.business__construction-bgcolor,
.business__customer-bgcolor {
  background-color: rgba(89, 121, 93, 0.8);
}

.business__areas-detail-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 248px;
  height: 184px;
}

.business__areas-detail-left h2 {
  width: 100px;
  font-size: 24px;
  font-weight: var(--weight-bold);
  margin-bottom: 5px;
}

.business__areas-detail-left p {
  width: 100px;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  margin: 0;
}

.read__more {
  border: 1px solid var(--color-white);
  width: 100px;
  height: 30px;
  margin: 16px auto;
  margin-bottom: 0%;
  color: var(--color-white);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
}

.space {
  height: 20px;
}

.business__areas-construction {
  display: flex;
  height: 195px;
  background: url('/images/bgImg (2).jpg') center/cover no-repeat;
}

.business__areas-right {
  width: 570px;
  height: 408px;
  background: url('/images/bgImg (3).jpg') center/cover no-repeat;
}

.business__areas-customer {
  display: flex;
  height: 100%;
}

.business__customer-detail-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 248px;
  height: 100%;
}

.business__customer-detail-right h2 {
  width: 140px;
  font-size: 24px;
  font-weight: var(--weight-bold);
  margin-bottom: 5px;
}

.business__customer-detail-right p {
  width: 140px;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  margin: 0;
}

.customer__contact {
  border: 1px solid var(--color-white);
  width: 140px;
  height: 30px;
  margin: 16px auto;
  margin-bottom: 0;
  color: var(--color-white);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
}

/* Patent Technology */
.technology__title {
  font-size: var(--font-medium);
  color: #231f20;
  margin-top: 120px;
}

.technology__title-underline {
  width: 300px;
  height: 2px;
  background-color: #59795d;
  margin: 5px auto;
  margin-bottom: 56px;
}

.technology {
  background: url('/images/bgImg (4).jpg') center/cover no-repeat;
  height: 550px;
}

.technology__detail {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(89, 121, 93, 0.8);
}

.technology__detail h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);

  margin-bottom: 24px;
}

.technology__detail p {
  margin-bottom: 0;
  font-size: var(--font-small);
  line-height: 24px;
}

.technology__iconsContainer {
  width: 472px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 36px auto;
}

.technology__iconsContainer span {
  line-height: 24px;
}

.skills {
  width: 160px;
}

.icons__top,
.icons__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icons__top i,
.icons__bottom i {
  font-size: 60px;
  margin-bottom: 12px;
}

.icons__space {
  height: 36px;
}

/* Footer */
.footer__container {
  background-color: #242424;
  color: var(--color-white);
  position: relative;
}

.testimonials__slide-overlay {
  background: url('/images/bgImg (5).jpg') center/cover no-repeat;
}

.testimonials__slide-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 466px;
  margin: 0 auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.testimonials__slide-container p {
  position: relative;
  font-size: var(--font-medium);
}

.testimonials__slide {
  width: 1200px;
  height: 226px;
  display: flex;
  justify-content: space-around;
}

.testimonials__slide-left {
  width: 466px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.testimonials__slide-left p {
  font-size: 22px;
  line-height: 36px;
}

.footer-swiper-button-next,
.footer-swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 32px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-swiper-button-prev {
  color: var(--color-white);
  left: 80px;
  right: auto;
  font-size: var(--font-large);
}

.footer-swiper-button-next {
  color: var(--color-white);
  right: 80px;
  left: auto;
  font-size: var(--font-large);
}

.footer-swiper-button-next p,
.footer-swiper-button-prev p {
  margin: 0;
}

.testimonials__slide img {
  height: 100%;
  width: 180px;
}

/* Footer */
.footer__information {
  background-color: #242424;
  margin: 0 auto;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 36px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__btn-top {
  margin-top: 12px;
  margin-bottom: 12px;
}

.logo__btn-top,
.logo__btn-bottom {
  display: flex;
  justify-content: space-between;
}

.footer__company-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__contact h2 {
  font-size: var(--font-medium);
}

.footer__contact-btn {
  border: 2px solid var(--color-white);
  width: 105px;
  height: 33px;
  margin: 16px auto;
  margin-left: 0;
  margin-bottom: 0;
  color: var(--color-white);
}

.footer__contact h4 {
  margin-bottom: 0;
}

.fnb__container {
  background-color: #1b1b1b;
}

.fnb {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1140px;
  height: 50px;
  justify-content: space-between;
  font-size: 12px;
}

.fnb a,
.fnb__copyright {
  color: #dedede;
}

.footer a span {
  color: #dedede;
}

.fnb__btn {
  display: flex;
  align-items: center;
}

.bar {
  height: 12px;
  width: 1px;
  background-color: var(--color-white);
  display: inline-block;
  margin: 0 12px;
}

/* Banner
.products__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.products__left {
  margin-top: 100px;
  width: 254px;
}

.products__left-title {
  margin: 12px auto;
}

.products__left h1 {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
  text-align: center;
  color: #4d4d4d;
}

.side__menu-btn li {
  margin: 24px 0;
  cursor: pointer;
  position: relative;
}

.btn__details::before {
  content: '';
  position: absolute;
  background-color: #31bb09;
  height: 2px;
  width: 0;
  right: 0;
  top: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

.btn__details.active {
  color: var(--color-dark-green);
  font-weight: var(--weight-semi-bold);
}

.side__menu-btn li:hover {
  color: #31bb09;
  font-weight: var(--weight-semi-bold);
}

.side__menu-btn li:hover::before {
  width: 16px;
}

.side__menu-bar {
  height: 2px;
  width: 100%;
  background-color: #dedede;
}

.products__right {
  width: 1100px;
}

.container__wrapper {
  width: 100%;
  background: url('/images/bgImg (6).jpg') center/cover no-repeat;
}

.banner__container {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 226px;
  text-align: center;
}

.banner {
  margin: 24px auto;
  padding-top: 12px;
  color: var(--color-white);
}

.bannner__title {
  margin-bottom: 12px;
}

.banner h1 {
  font-size: 36px;
}

.banner span {
  font-size: 18px;
}

.products__container {
  width: 80%;
  margin: 0 auto;
}

.products__detail {
  display: flex;
  justify-content: space-between;
}

.products__detail-left {
  display: flex;
  flex-direction: column;
}

.products__detail-left h1 {
  font-size: var(--font-large);
  color: var(--color-green);
  margin-bottom: 16px;
}

.products__mark {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 12px;
}

.ks__container,
.environment__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.ks__mark,
.environment__mark {
  margin-bottom: 8px;
  width: 70px;
  height: 70px;
}

.products__detail-img {
  width: 300px;
  height: 300px;
}

.table {
  width: 360px;
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
  font-size: var(--font-small);
  margin-bottom: 56px;
}

.table__container {
  display: flex;
  height: 32px;
  align-items: center;
}

.table__bar-middle {
  height: 1px;
  width: 100%;
  background-color: var(--color-light-grey);
}

.table__title {
  width: 80px;
  text-align: center;
  color: var(--color-green);
}

.table__bar {
  height: 16px;
  width: 1px;
  background-color: var(--color-light-grey);
  margin: 0;
}

.table__contents {
  margin: 0;
  margin-left: 12px;
}

.products__summary,
.products__char,
.products__use {
  font-size: var(--font-small);
}

.products__summary {
  margin-bottom: 48px;
}

.products__title {
  position: relative;
  color: var(--color-green);
  font-weight: var(--weight-semi-bold);
}

.products__title::before {
  content: '';
  position: absolute;
  background-color: #31bb09;
  height: 3px;
  width: 4%;
  top: -7px;
}

.products__char {
  margin-bottom: 48px;
}

.products__use {
  margin-bottom: 100px;
} */

/* Contact */
.contact__container {
  width: 1280px;
}

.contact__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  text-align: center;
  margin: 36px auto;
  background: url('/images/bgImg (3).jpg') center/cover no-repeat;
  color: var(--color-white);
}

.contact__banner h1 {
  margin-top: 0;
}

.contact__header {
  margin-left: 410px;
  margin-bottom: 36px;
  color: #109c06;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

.contact__header-upr {
  margin-bottom: 12px;
}

.contact__header-lwr {
  margin-top: 0;
}

.contact__header-bar {
  height: 3px;
  width: 80px;
  background-color: #109c06;
}

.contact__form-container {
  width: 100%;
}

.contact__form-main {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  width: 55%;
}

.contact__form-main p {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

.contact__contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  color: #444646;
}

.contact__btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.contact__submit {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  background-color: #109c06;
  color: var(--color-white);
  width: 100px;
  height: 45px;
}

.contact__submit:hover {
  background-color: rgba(49, 187, 9, 0.6);
  color: var(--color-black);
}
