/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 10px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --annimation-duration: 300ms;
}

body {
  margin: 0 auto;
  cursor: default;
  width: 1280px;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: var(--color-white);
  outline: none;
}

.container {
  text-align: center;
  color: var(--color-white);
}

/* Navbar */
#navbar {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__menu {
  display: flex;
}

.navbar__menu-item {
  margin: 0 36px;
}

.navbar__menu-item:hover {
  cursor: pointer;
  color: #1eac07;
  font-weight: var(--weight-bold);
  text-decoration: underline;
  text-underline-position: under;
}

.navbar__search {
  display: flex;
  align-items: center;
}

.underline {
  height: 1px;
  width: 100%;
  background-color: #d5d4c9;
}

/* Main Slide */
.slide__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url('/images/slideImg (1).jpg') center/cover no-repeat;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}

.slide__description {
  padding-right: 500px;
}

/* Main Business Area */
.business__title {
  color: var(--color-black);
}

.business__title::after {
  content: '';
  display: block;
  width: 140px;
  border-bottom: 2px solid green;
  margin: 1px auto;
}

.business__areas-container {
  display: flex;
  width: 80%;
  margin: 10px auto;
  justify-content: space-around;
}

.business__areas-left {
  width: 500px;
}

.business__products {
  display: flex;
  background: url('/images/bgImg (1).jpg') center/cover no-repeat;
}

.business__products-bg,
.business__construction-bg {
  background-color: green;
  opacity: 0.6;
}

.business__products-left,
.business__construction-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 170px;
}

.business__products-left h2 {
  margin-bottom: 0;
}

.business__products-left p {
  margin: 0;
}

.read__more {
  border: 3px solid var(--color-white);
  width: 100px;
  height: 30px;
  margin: 16px auto;
  color: var(--color-white);
}

.space {
  height: 20px;
}

.business__construction {
  display: flex;
  background: url('/images/bgImg (2).jpg') center/cover no-repeat;
}

.business__construction-left h2 {
  margin-bottom: 0;
}

.business__construction-left p {
  margin: 0;
}

.business__areas-right {
  width: 500px;
  background: url('/images/bgImg (3).jpg') center/cover no-repeat;
}

.business__customer {
  display: flex;
  height: 100%;
}

.business__customer-bg {
  background-color: green;
  opacity: 0.6;
  display: flex;
}

.business__customer-right {
  text-align: left;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.business__customer-right h2 {
  margin-bottom: 0;
}

.business__customer-right p {
  margin: 0;
}

.customer__contact {
  border: 3px solid var(--color-white);
  width: 100px;
  height: 30px;
  margin: 16px auto;
  color: var(--color-white);
}

/* Patent Technology */
.technology__title {
  color: var(--color-black);
  margin-top: 48px;
}

.technology__title::after {
  content: '';
  display: block;
  width: 175px;
  border-bottom: 2px solid green;
  margin: 1px auto;
}

.technology {
  background: url('/images/bgImg (4).jpg') center/cover no-repeat;
}

.technology__description-detail {
  display: flex;
  width: 60%;
  flex-direction: column;
  background-color: green;
  opacity: 0.6;
}

.technology__description-detail p {
  margin-bottom: 0;
}

.technology__description-iconsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
}

.icons__top,
.icons__bottom {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.icons__top i,
.icons__bottom i {
  font-size: var(--font-large);
  margin-bottom: 12px;
}

.icons__space {
  height: 36px;
}

/* Footer */
.footer__container {
  color: var(--color-white);
}

.testimonials__slide {
  height: 200px;
  margin-top: 48px;
  background: url('/images/bgImg (5).jpg') center/cover no-repeat;
}

.company__name {
  margin-top: 0;
}

.footer__contact h2 {
  margin: 0;
}

.footer__information {
  background-color: #2b2b2a;
  margin: 0 auto;
  padding: 0 150px;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__btn-top {
  margin-top: 12px;
  margin-bottom: 12px;
}

.logo__btn-top,
.logo__btn-bottom {
  display: flex;
  justify-content: space-between;
}

.footer__contact h4 {
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #201f1e;
  padding: 24px 150px;
}

.footer__left {
  display: flex;
  align-items: center;
}

.bar {
  height: 12px;
  width: 1px;
  background-color: var(--color-white);
  display: inline-block;
  margin: 0 12px;
}

/* Banner */
.products__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__left {
  margin-top: 100px;
}

.products__right {
  width: 1000px;
}

.container__wrapper {
  width: 100%;
}

.banner__container {
  background: url('/images/bgImg (6).jpg') center/cover no-repeat;
  margin: 24px auto;
  display: flex;
  width: 100%;
  height: 150px;
  text-align: center;
}

.banner {
  margin: 24px auto;
  margin-top: 0;
  padding-top: 12px;
  color: var(--color-white);
}

.products__container {
  width: 80%;
  margin: 0 auto;
}

.products__detail {
  display: flex;
  justify-content: space-between;
}

.products__detail-left {
  display: flex;
  flex-direction: column;
}

.products__mark {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: 12px;
}

.ks__container,
.environment__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.ks__mark,
.environment__mark {
  margin-bottom: 8px;
  width: 70px;
  height: 70px;
}

.products__detail-img {
  width: 300px;
  height: 300px;
}

.table {
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

.table__details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--font-micro);
}

.table__bar {
  height: 12px;
  width: 1px;
  background-color: var(--color-grey);
}

.products__summary,
.products__char,
.products__use {
  font-size: var(--font-small);
}
